 .array-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }

.array-holder {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

 .array-bar {
    width: 2px;
    background-color:coral;
 }

 /* trying to center button */
 .random-button {
    display: flex;
    width: min-content;
    justify-content: center;
 }